@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    color: #FFFFFF;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

button {
    cursor: pointer;
}

ul li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1740px;
    margin: 0 auto;
}

/* Hero */

.hero .background {
    position: relative;
}

.hero .background .video-block {
    position: absolute;

    z-index : 1;
    top : 0;
    left : 0;
    background-color: #000000;
    opacity : 0.7;

    width: 100%;
    height: 100%;
}

.hero .background .background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .background .header {

    max-width: 1740px;
    margin: 0 auto;
    padding-top: 60px;

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .background .header .logo {
    width: 582px;
    height: 51px;

    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hero .background .header .info {
    display: flex;
    flex-direction: column;

    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: right;
}

.hero .background .content {
    position: relative;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    margin-top: 450px;
}

.hero .background .content h2 {
    width: 55%;
    margin-bottom: -55px;

    font-family: 'Fjalla One', sans-serif;
    font-size: 110px;
    line-height: 130px;
    letter-spacing: -0.04em;
}

.hero .background .content .link {
    width: 36%;
    padding: 8px 0;
    margin: auto 0 80px auto;
    border: 1px solid #FFFFFF;
    border-radius: 100px;

    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
}

/* About */

.about .content {
    padding-top: 120px;
}

.about .content p {
    width: 48%;

    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
}

.about .content p:first-child {
    margin-bottom: 30px;
}

.about .content ul {
    width: 60%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 160px;
}

.about .content ul li {
    font-family: 'Fjalla One', sans-serif;
    font-size: 200px;
    line-height: 240px;
    letter-spacing: -0.04em;
}

.about .content ul li:not(:last-child) {
    margin-bottom: 160px;
}

.about .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 320px;
}

.about .content .mobile-size {
    display: none;
}

.about .content .container .card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

.about .content .container .card-list .card {
    width: 390px;
}

.about .content .card-list .card .image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.about .content .container .card-list .card .info {
    display: flex;
    justify-content: space-between;
}

.about .content .container .card-list .card .info .avatar {
    width: 80px;
    height: 80px;

    margin-top: -47px;
    margin-left: 20px;

    background-position: center center;
    background-size: contain;
    border-radius: 100%;
    border: 5px solid #FFFFFF;
}

.about .content .container .card-list .card .info span {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    margin-right: 10px;
}

.about .content .container .list-three {
    margin-top: 200px;
}

.about .content .container .list-four {
    margin-top: 128px;
}

.about .content .container .list-fifth {
    margin-top: 158px;
}

.about .content .container .card-list .first {
    margin-top: 400px;
}

.about .content .container .card-list .third {
    margin-top: 230px;
}

.about .content .container .card-list .fourth {
    margin-top: 80px;
    margin-right: 360px;
}

.about .content .container .card-list .fifth {
    margin-top: -160px;
}

.about .content .container .card-list .sixth {
    margin-top: 200px;
}

.about .content .container .card-list .eighth {
    margin-top: -385px;
}

.about .content .container .card-list .tenth {
    margin-top: -273px;
}

.about .content .container .card-list .twelfth {
    margin-top: -172px;
}

.about .content .container .card-list .card .info .soliman {
    background-image: url("../images/soliman_ava.webp");
}

.about .content .container .card-list .card .info .synticate {
    background-image: url("../images/synticate_ava.webp");
}

.about .content .container .card-list .card .info .hart {
    background-image: url("../images/hart_ava.webp");
}

.about .content .container .card-list .card .info .harper {
    background-image: url("../images/harper_ava.webp");
}

.about .content .container .card-list .card .info .yuma {
    background-image: url("../images/yuma_ava.webp");
}

.about .content .container .card-list .card .info .dubois {
    background-image: url("../images/dubois_ava.webp");
}

.about .content .container .card-list .card .info .fornieles {
    background-image: url("../images/fornieles_ava.webp");
}

.about .content .container .card-list .card .info .wannerstedt {
    background-image: url("../images/wannerstedt_ava.webp");
}

.about .content .container .card-list .card .info .allahyari {
    background-image: url("../images/allahyari_ava.webp");
}

.about .content .container .card-list .card .info .ruben {
    background-image: url("../images/ruben_ava.webp");
}

.about .content .container .card-list .card .info .axl {
    background-image: url("../images/axl_ava.webp");
}

.about .content .container .card-list .card .info .brocket {
    background-image: url("../images/brocket_ava.webp");
}

.about .content .container .card-list .card .info .kristel {
    background-image: url("../images/kristel_ava.webp");
}


.about .content .container .card-list .card .info .ava-list {
    display: flex;
}

.about .content .container .card-list .card .info .ava-list .ava-1 {
    background-image: url("../images/aes_ava1.webp");
}

.about .content .container .card-list .card .info .ava-list .ava-2 {
    margin-left: -26px;

    background-image: url("../images/aes_ava2.webp");
}

.about .content .container .card-list .card .info .ava-list .ava-3 {
    margin-left: -26px;

    background-image: url("../images/aes_ava3.webp");
}

.about .content .container .card-list .card .info .ava-list .ava-4 {
    margin-left: -26px;

    background-image: url("../images/aes_ava4.webp");
}

.about .content .container h2 {
    width: 17%;

    font-family: 'Fjalla One', sans-serif;
    font-size: 110px;
    line-height: 130px;
    letter-spacing: -0.04em;
}

/* How It Works */

.how_it_works {
    margin-top: 387px;
}

.how_it_works h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    line-height: 101px;
    letter-spacing: -0.04em;
}

.how_it_works ul {
    margin-top: 60px;

    border-bottom: 1px solid #FFFFFF;
}

.how_it_works ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #FFFFFF;

    padding: 60px 0;
}

.how_it_works ul li .number {
    width: 48px;
    height: 48px;

    background-position: center center;
    background-size: contain;
}

.how_it_works ul li .one {
    background-image: url(../images/one.svg);
}

.how_it_works ul li .two {
    background-image: url(../images/two.svg);
}

.how_it_works ul li .three {
    background-image: url(../images/three.svg);
}

.how_it_works ul li .description {
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how_it_works ul li .description .text {
    width: 60%;

    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    margin-right: 40px;
}

.how_it_works ul li .description .info {
    width: 40%;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #666666;
}

/* Why */

.why {
    margin-top: 300px;
}

.why .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.why .content .left {
    width: 40%;

    margin-right: 40px;
}

.why .content .left h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    line-height: 101px;
    letter-spacing: -0.04em;
}

.why .content .right {
    width: 60%;
}

.why .content .right .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.why .content .right .wrapper .card {
    width: 390px;

    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.why .content .right .wrapper .card:not(:last-child) {
    margin-bottom: 80px;
}

.why .content .right .wrapper .card .img {
    width: 200px;
    height: 200px;

    background-image: url("../images/img_plomb.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    margin-bottom: 40px;
}

.why .content .right .wrapper .card .one {
    background-image: url("../images/1.svg");
}

.why .content .right .wrapper .card .two {
    background-image: url("../images/2.svg");
}

.why .content .right .wrapper .card .three {
    background-image: url("../images/3.svg");
}

.why .content .right .wrapper .card .four {
    background-image: url("../images/4.svg");
}

.why .content .right .wrapper .card .five {
    background-image: url("../images/5.svg");
}

.why .content .right .wrapper .card .container {
    display: flex;
    flex-direction: column;
}

.why .content .right .wrapper .card .container .card-name {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    margin-bottom: 16px;
}

.why .content .right .wrapper .card .container .card-descrip {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #666666;
}

/* Partners */

.partners {
    margin-top: 300px;
}

.partners .content h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    line-height: 101px;
    letter-spacing: -0.04em;
}

.partners .partners-list {
    width: 100%;
    height: 525px;
    margin-top: -60px;

    background-image: url("../images/partners.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Join */

.join {
    margin-top: 240px;
}

.join .content {
    display: flex;
    justify-content: space-between;
}

.join .content .left {
    width: 40%;
}

.join .content .left h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 200px;
    line-height: 240px;
    letter-spacing: -0.04em;
}

.join .content .right {
    width: 37%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join .content .right .link {
    width: 100%;
    padding: 8px 0;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
}

.join .content .right .notion {
    display: flex;

    margin-top: 60px;
}

.join .content .right .notion .img {
    width: 80px;
    height: 80px;
    margin-right: 20px;

    background-image: url("../images/notion.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.join .content .right .notion .container span {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
}

.join .content .right .notion .container a {
    width: 132px;

    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    border-bottom: 1px solid #FFFFFF;

    margin-top: 20px;
}

/* Links */

.links {
    margin-top: 260px;
    padding: 40px 0;

    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.links .content {
    display: flex;
    justify-content: space-between;
}

.links .content a {
    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
}

/* Authors */

.authors .content {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #666666;

    padding: 40px 0;
}

/* Register-form popup */

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup {
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all 0.8s ease 0s;

    overflow-y: auto;
    overflow-x: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.popup:target .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    width: 765px;

    background-color: #000000;

    padding: 60px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;

    color: #FFFFFF;

    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100%);
}

.popup__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
}

.popup__container h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    line-height: 101px;
    letter-spacing: -0.04em;
}

.popup__close {
    display: block;

    width: 42px;
    height: 42px;

    background-image: url("../images/close-popup.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    margin-bottom: 10px;
}

.popup__form input {
    padding: 16px 25px;

    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: #222222;

    border-radius: 8px;
    outline: none;
    border: none;
}

.popup__form input[type=text],
.popup__form input[type=email] {
    margin-bottom: 30px;
}

.popup__timedata {
    display: flex;

    margin-bottom: 80px;
}

.popup__date {
    display: flex;
    flex-direction: column;

    margin-right: 30px;
}

.select {
    margin-top: 10px;
    position: relative;
}

.select.is-active .select__body {
    display: block;
    z-index: 5;
}

.select__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    border-radius: 8px;
    background-color: #222222;

    padding: 16px 25px;
}

.select__icon {
    width: 30px;
    height: 30px;
    background: url("../images/arrow-indicator.svg") no-repeat center;
    background-size: contain;
    flex-shrink: 0;

    margin-left: 38px;
}

.select__current {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    color: #FFFFFF;

    opacity: 0.2;
}

.select__body {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #222222;

    border-radius: 8px;

    margin-top: 10px;
}

.select__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    padding: 16px 25px;

    cursor: pointer;

    transition: background-color 0.2s linear;
}

.select__item:hover {
    background-color: #333333;
}

.popup__form .validateBtn {
    width: 255px;

    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
    
    text-align: center;

    border: 1px solid #FFFFFF;
    border-radius: 100px;

    color: #FFFFFF;

    background-color: transparent;
}

/* Popup Success */

.success__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.success {
    position: fixed;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    z-index: 999;

    transition: all 0.8s ease 0s;

    overflow-y: auto;
    overflow-x: hidden;
}

.success:target {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.success:target .success__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.success__body {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.success__content {
    width: 765px;

    background-color: #000000;

    padding: 60px;

    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;

    color: #FFFFFF;

    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: translate(0px, -100%);
}

.success__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.success__container h2 {
    width: 90%;
    margin-bottom: 60px;

    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    line-height: 101px;
    letter-spacing: -0.04em;
}

.success__close {
    display: block;

    width: 42px;
    height: 42px;
    margin-top: 0;
    margin-bottom: auto;

    background-image: url("../images/close-popup.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.success__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;

    margin-bottom: 80px;
}

.success__btn-close {
    width: 173px;
    height: 83px;
    border-radius: 100px;

    font-weight: 500;
    font-size: 56px;
    line-height: 80px;
    text-transform: lowercase;
    text-align: center;

    border: 1px solid #FFFFFF;
}

@media (max-width: 1920px) {
    .content {
        margin: 0 90px;
    }

    .hero .background .header {
        margin: 0 90px;
    }
}

@media (max-width: 1370px) {
    .about .content .container .list-one .second {
        display: none;
    }

    .about .content .container .list-two .fifth {
        display: none;
    }

    .about .content .container .list-three .seventh {
        display: none;
    }

    .why .content .right .wrapper {
        justify-content: center;
    }

    .join .content .left {
        width: 50%;
    }

    .join .content .right {
        width: 45%;
    }
}

@media (max-width: 1100px) {

    .hero .background .header .logo {
        width: 310px;
    }

    .hero .background .content {
        flex-direction: column;

        margin-top: 106px;
    }

    .hero .background .content h2 {
        width: 100%;

        margin-bottom: 40px;
    }

    .hero .background .content .link {
        width: 100%;

        margin: 0;
        margin-bottom: -210px;
    }

    .about {
        margin-top: 240px;
    }

    .about .content ul {
        width: 100%;
    }

    .about .content ul li {
        font-size: 100px;
        line-height: 150px;
    }

    .about .content p {
        width: 65%;
    }

    .about .content .desktop-size {
        display: none;
    }

    .about .content .mobile-size {
        display: flex;
        flex-direction: column;
    }

    .about .content .mobile-size h2 {
        width: 100%;

        margin-bottom: 60px;
    }

    .about .content .mobile-size .card img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .about .content .mobile-size .card:not(:last-child) {
        margin-bottom: 60px;
    }

    .about .content .mobile-size .one {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .two {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .three {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .four {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .five {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .six {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .seven {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .eight {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .nine {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .ten {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .eleven {
        margin-left: 0;
        margin-right: auto;
    }

    .about .content .mobile-size .twelve {
        margin-left: auto;
        margin-right: 0;
    }

    .about .content .mobile-size .card .info {
        display: flex;
        justify-content: space-between;
    }

    .about .content .mobile-size .card .info .avatar {
        width: 80px;
        height: 80px;
    
        margin-top: -47px;
        margin-left: 20px;
    
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 100%;
    }

    .about .content .mobile-size .card .info .synticate {
        background-image: url("../images/synticate_ava.webp");
    }

    .about .content .mobile-size .card .info .hart {
        background-image: url("../images/hart_ava.webp");
    }

    .about .content .mobile-size .card .info .soliman {
        background-image: url("../images/soliman_ava.webp");
    }

    .about .content .mobile-size .card .info .dubois {
        background-image: url("../images/dubois_ava.webp");
    }

    .about .content .mobile-size .card .info .yuma {
        background-image: url("../images/yuma_ava.webp");
    }

    .about .content .mobile-size .card .info .allahyari {
        background-image: url("../images/allahyari_ava.webp");
    }

    .about .content .mobile-size .card .info .ruben {
        background-image: url("../images/ruben_ava.webp");
    }

    .about .content .mobile-size .card .info .wannerstedt {
        background-image: url("../images/wannerstedt_ava.webp");
    }

    .about .content .mobile-size .card .info .fornieles {
        background-image: url("../images/fornieles_ava.webp");
    }

    .about .content .mobile-size .card .info .kristel {
        background-image: url("../images/kristel_ava.webp");
    }

    .about .content .mobile-size .card .info .brocket {
        background-image: url("../images/brocket_ava.webp");
    }

    .about .content .container .card-list .card .info .ava-list {
        display: flex;
    }
    
    .about .content .container .card-list .card .info .ava-list .ava-1 {
        background-image: url("../images/aes_ava1.webp");
    }
    
    .about .content .container .card-list .card .info .ava-list .ava-2 {
        margin-left: -26px;
    
        background-image: url("../images/aes_ava2.webp");
    }
    
    .about .content .container .card-list .card .info .ava-list .ava-3 {
        margin-left: -26px;
    
        background-image: url("../images/aes_ava3.webp");
    }
    
    .about .content .container .card-list .card .info .ava-list .ava-4 {
        margin-left: -26px;
    
        background-image: url("../images/aes_ava4.webp");
    }

    .about .content .mobile-size .card .info .axl {
        background-image: url("../images/axl_ava.webp");
    }

    .about .content .mobile-size .card .info span {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        margin-right: 10px;
    }

    .why .content {
        flex-direction: column;
    }

    .why .content .left {
        width: 100%;

        margin-right: 0;
        margin-bottom: 40px;
    }

    .why .content .right {
        width: 100%;
    }

    .why .content .right .wrapper {
        justify-content: space-between;
    }

    .why .content .right .wrapper .card {
        margin-right: 0;
    }

    .join .content {
        flex-direction: column;
    }

    .join .content .left {
        width: 90%;

        margin-bottom: 60px;
    }

    .join .content .right {
        width: 100%;
    }

    .join .content .right .link {
        width: 80%;
    }

    .join .content .right .notion {
        width: 80%;
    }

    .links .content {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .content {
        margin: 0 20px;
    }

    .hero .background .header {
        flex-direction: column;
        align-items: flex-start;

        margin: 0 20px;
    }

    .hero .background .header .logo {
        margin-bottom: 20px;
    }

    .hero .background .header .info {
        font-size: 16px;
        line-height: 24px;

        text-align: left;
    }

    .hero .background .content h2 {
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -0.05em;

        margin-bottom: 20px;
    }

    .hero .background .content .link {
        font-size: 28px;
        line-height: 32px;

        margin-bottom: -100px;
    }

    .about {
        margin-top: 40px;
    }

    .about .content .container {
        margin-top: 120px;
    }

    .about .content p {
        width: 100%;

        font-size: 16px;
        line-height: 24px;
    }

    .about .content ul {
        margin-top: 120px;
    }

    .about .content ul li {
        font-size: 76px;
        line-height: 96px;
        letter-spacing: -0.05em;
    }

    .about .content ul li:not(:last-child) {
        margin-bottom: 60px;
    }

    .about .content .mobile-size h2 {
        font-size: 44px;
        line-height: 56px;
        letter-spacing: -0.04em;
    }

    .about .content .mobile-size .card {
        width: 235px;
    }

    .about .content .mobile-size .card .info .avatar {
        width: 60px;
        height: 60px;

        margin-top: -30px;
        margin-left: 15px;
    }

    .about .content .mobile-size .card .info span {
        font-size: 16px;
        line-height: 24px;

        text-align: right;
    }

    .how_it_works {
        margin-top: 160px;
    }

    .how_it_works h3 {
        font-size: 44px;
        line-height: 56px;
        letter-spacing: -0.04em;
    }

    .how_it_works ul {
        margin-top: 45px;
    }

    .how_it_works ul li {
        padding: 40px 0;
    }

    .how_it_works ul li .number {
        width: 32px;
        height: 32px;

        margin-right: 15px;
    }

    .how_it_works ul li .description {
        width: 90%;

        flex-direction: column;
        align-items: flex-start;

        margin-left: 0;
        margin-right: auto;
    }

    .how_it_works ul li .description .text {
        font-size: 24px;
        line-height: 32px;
    }

    .how_it_works ul li .description .info {
        font-size: 16px;
        line-height: 24px;
    }

    .why {
        margin-top: 160px;
    }

    .why .content .left h3 {
        font-size: 44px;
        line-height: 56px;
        letter-spacing: -0.04em;
    }

    .why .content .right .wrapper .card {
        flex-direction: row;

        width: 100%;
    }

    .why .content .right .wrapper .card .img {
        width: 100px;
        height: 100px;

        margin-right: 20px;
    }

    .why .content .right .wrapper .card .container {
        display: flex;
        flex-direction: column;

        width: 80%;
    }

    .why .content .right .wrapper .card .container .card-name {
        font-size: 24px;
        line-height: 32px;
    }

    .why .content .right .wrapper .card .container .card-descrip {
        font-size: 16px;
        line-height: 24px;
    }

    .partners {
        margin-top: 160px;
    }

    .partners .partners-list {
        height: 500px;

        background-image: url(../images/partners_mobile.svg);
        background-size: contain;
    }

    .join {
        margin-top: 60px;
    }

    .join .content .left h1 {
        width: 65%;

        font-size: 76px;
        line-height: 96px;
        letter-spacing: -0.05em;
    }

    .join .content .right .link {
        width: 100%;

        font-size: 28px;
        line-height: 32px;
    }

    .join .content .right .notion {
        width: 100%;

        margin-top: 40px;
    }

    .join .content .right .notion .container a {
        margin-top: 10px;
    }

    .links {
        margin-top: 120px;
        padding: 20px 0;
    }

    .links .content a {
        font-size: 24px;
        line-height: 32px;
    }

    .authors .content {
        font-size: 16px;
        line-height: 24px;

        padding: 20px 0;
    }
}

@media (max-width: 700px) {
    .popup__timedata {
        flex-direction: column;
    }

    .popup__date {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 530px) {
    .popup__container h2 {
        font-size: 50px;
        line-height: 80px;
    }

    .popup__form input {
        width: 245px;
    }

    .popup__close {
        width: 30px;
        height: 30px;
    }

    .popup__form .validateBtn {
        width: auto;

        font-size: 30px;
        line-height: 50px;
    }

    .success__container h2 {
        font-size: 44px;
        line-height: 56px;
    }

    .success__text {
        font-size: 16px;
        line-height: 24px;

        margin-bottom: 40px;
    }

    .success__btn-close {
        width: 95px;
        height: 35px;

        font-size: 28px;
        line-height: 32px;
    }
}

@media (max-width: 400px) {
    .hero .background .content .link {
        margin-bottom: -160px;
    }

    .about .content {
        padding-top: 160px;
    }
}